.login{
    display:flex;
    justify-content: center;
    height: 100vh;
    &Container{
        display:flex;
        flex-direction: column;
        align-items: center;
        img{
            height: 500px;
        }
    }

}
Button{
    width: 450px;
    height: 50px;
}